.Navbar-css {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  background-color: #404040;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: sticky;
  top: 0px;
  z-index: 2;
}

.menu-btn-css {
  font-size: 25px;
  color: aliceblue;
}

.logo-css > img {
  width: 35px;
  margin-right: 5px;
}

.logo-css > span {
  font-size: 18px;
  font-weight: bold;
  color: rgb(91, 196, 59);
  font-family: Maitree, Arial, Helvetica, sans-serif;
  border-bottom: 2px solid rgb(91, 196, 59);
}

.reminder-css > img {
  width: 32px;
}
